@import url(sidebar.scss);
@import url(input.scss);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  @media screen and (max-width: 1269px) {
    max-width: 990px;
  }
  @media screen and (max-width: 989px) {
    max-width: 750px;
  }
  @media screen and (max-width: 749px) {
    max-width: 100%;
  }
}

.main-content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
  @media screen and (max-width: 1269px) {
    max-width: 990px;
  }
  @media screen and (max-width: 989px) {
    max-width: 750px;
  }
  @media screen and (max-width: 749px) {
    max-width: 100%;
  }
}

body {
  display: block !important;
  overflow: auto !important;
}

.top-breadcum {
  padding: 70px 0;
  width: 100%;
  text-align: center;
  background: url(@/assets/image/breadcrumb-dark.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
