$primary: #e9aa00;
$orange: #ff7a21;
$white: #fff;
$black: #000;
$jaune: #e9aa00;
$purple: #e5d8d2;
$rose: #963743;
$grey: #9d9a8c;
$green: #057659;
$red: #dd1e35;
$blue: #1565c0;
$dark: #121212;

$ordi: 1169px;
$tablette: 989px;
$phone: 749px;
